@if (User.Identity.IsAuthenticated)
{
    <span>Hello, @User.Identity.Name</span>
    <form method="post" asp-controller="Account" asp-action="Logout" asp-antiforgery="true">
        <input class="btn btn-default" type="submit" value="Logout"/>
    </form>
}
else
{
    <a class="btn btn-default" asp-action="Register" asp-controller="Account">Register</a> 
    <a class="btn btn-default" asp-action="Login" asp-controller="Account">Login</a>
}